#search_title{
	margin-top: -25px;
}

#search_criteria{
	padding-left: 30px;
}

#search-box {
	position: relative;
	width: 100%;
	margin: 0;
}

#search-form {
	height: 40px;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
}

#search-text {
	font-size: 14px;
	color: #ddd;
	border-width: 0;
	background: transparent;
}

#search-box input[type="text"]{
	width: 90%;
	padding: 11px 0 12px 1em;
	color: #333;
	outline: none;
}

#search-button {
	position: absolute;
	top: 0;
	right: 0;
	height: 42px;
	width: 80px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 42px;
	border-width: 0;
	background-color: #4d90fe;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}

#searchInputContainer{
	/* This div contains the transparent search box */
	width:420px;
	height:36px;
	background:url("img/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

.side-bordering{
	border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}