.footer {
	height: auto;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}


.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h4 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	padding: 10px 0 1px;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin-top: 10px;
	height: 40px;
	padding: 10px;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}
.bg-gray {
	background-color: #444444;
	box-shadow: 0 1px 0 #B4B3B3;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 4px;
}
.footer-bottom p.pull-left {
	padding-top: 5px;
}
.payments {
	font-size: 1.5em;	
}